.link {
  list-style: none;
  display: inline;
  padding: 0 10px;
  font-weight: bold;
}

.navContainer {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 2px 5px -1px black;
  background-color: #49a0eb;
}

.activeLink {
  display: inline-block;
  padding-right: 10px;
  border-bottom: 1px solid white;
}
